.uk-container-expand {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "drop location news"
  "drop location news"
  "footer footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 80px;
}
.uk-container-expand > div {
  border: 1px solid #b3afa1;
}

.drop {
  grid-area: drop;
  background-color: slategrey;
  font-family: 'Heebo', sans-serif;
  
  
}
.location {
  grid-area: location;
  background-color: white;

  
}
.news {
  grid-area: news;
  background-color: slategrey;
  font-family: 'Heebo', sans-serif;
  color: black
  
}

#news-articles, a:link {
color: black;
font-size: 20px;
font-family: 'Fira Sans', sans-serif;

}
.footer {
  grid-area: footer;
  background-color: blanchedalmond;
  text-align: center;
  
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Fira Sans', sans-serif;
}

.uk-card {
background-color: white;
font-family: 'Heebo', sans-serif;
color: black
} 
#header {
  background-image: url("./assets/world.jpg");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  
}
.uk-logo {
font-weight: bold;
font-family: 'Heebo', sans-serif;
color: black !important;
font-size: 50px !important;

}

.uk-search-input {
text-align: center !important;
background-color: snow !important;
color: rgb(44, 44, 44) !important;
}

.overlay {
background-color: rgba(26, 26, 26, 0.65);
height: 100%;
width: 100%;
top: 0;
left: 0;
display: flex;

}

#searchDiv  {
  font-size: 20px;
  color: black
}